html {
    overflow: auto;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    background: transparent;
    scrollbar-width: none;
    display: none;
}

.hide-scrollbar
{
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.landing-page {
    background-image: url(./assets/rainy-road.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.sticky {
    position: fixed;
    top: 15%;
    width: 100%;
    z-index: 1;
}


header {
    color: white;
    font-size: larger;
}

.nav-ul {
    list-style: none;
    float: left;
    padding-top: 5%;
    padding-left: 5%;
}

.nav-li {
    /* display: inline; */
    margin: 75%;
    margin-left: 20px;
}

.section-name {
    text-align: center;
    padding-top: 20%;
    color: white;
    font-size: x-large;
}

.name-h {

}

.name-p {
    
}

.project-container {
    /* background-color: grey; */
    /* background-color: black; */
    /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */
    padding: 0;
    margin: 0;
}

.div-break {
    padding-top: 500px;
    /* margin-top: 35%; */
    /* border: 1px solid white; */
}

.section-project {
    /* color: white; */
    /* margin-top: 5%; */
    /* background-color: grey; */
    text-align: center;
}

.div-project {

}