html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
}

.landing-page {
    background-image: url(./assets/pink-cloud-mountain.jpg);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    height: 100vmax;
    width: 100vw;
}

.sticky-left {
    position: fixed;
    top: 25%;
    width: 10%;
    z-index: 1;
}

.sticky-right {
    position: fixed;
    margin-left: 85%;
    top: 25%;
    z-index: 1;
}

a {
    color: black;
}

a:link {
    text-decoration: black;
}

a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

header {
    font-size: larger;
    border-radius: 10px;
}

.nav-ul {
    list-style: none;
    float: left;
    padding-top: 5%;
    padding-left: 150px;
}

.nav-li-page {
    margin: 75%;
    margin-left: 20px;
}

.nav-ul-links {
    font-size: 40px;
    list-style: none;
    padding-top: 50%;
}

.nav-li-links {
    margin: 75%;
}

.section-name {
    text-align: center;
    padding-top: 20%;
    width: fit-content;
    font-size: x-large;
    margin: auto;
    padding-bottom: 0;
}

.name-h {

}

.name-p {
    
}

.project-container {
    text-align: center;
    z-index: 1;
    margin-bottom: 10%;
}

.break-line {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}

.title-section {
    margin-bottom: 100px;
}

.section-project {

}

.div-project {
    margin-bottom: 100px;
}

.disclaimer {
    font-size: small;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

        

@media {
    
}